@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style:  normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/npm/firacode@5.2.0/distr/woff/FiraCode-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style:  normal;
  font-weight: 800;
  src: url("https://cdn.jsdelivr.net/npm/firacode@5.2.0/distr/woff/FiraCode-Bold.woff") format("woff");
  font-display: swap;
}
